<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <!-- Page header -->
    <header class="inventory-header">
      <h1 class="inventory-header__header" >Computer Inventory</h1>

      <h2 class="inventory-header__category-header">Categories:</h2>
      <div class="inventory-header__categories-div">
        <a href="/" class="inventory-header__category-button">All</a>
        <a href="?filter=input" class="inventory-header__category-button">Input</a>
        <a href="?filter=output" class="inventory-header__category-button">Output</a>
        <a href="?filter=storage" class="inventory-header__category-button">Storage</a>
        <a href="?filter=software" class="inventory-header__category-button">Software</a>
      </div>

      <div class="inventory-header__add-div">
        <a href="/addItem" class="inventory-header__add-button">Add Item</a>
      </div>
    </header>

    <!-- Page main content -->
    <main class="inventory-content">

      <% for (let i = 0; i < items.length; i++) { %>
      
        <% if(filter === items[i].category) {%>
          <div class="inventory-content__card-div">
            <img class="inventory-content__card-img" src="/images/komputer.png">
            <div class="inventory-content__info-div">
              <p style="margin-bottom: 5px;">ID: <%= items[i].id %></p>
              <p style="margin-bottom: 5px;">Name: <%= items[i].name %></p>
              <p>Category: <%= items[i].category %> </p>
            </div>
            <div class="inventory-content__actions-div">
              <a href="/deleteItem?Id=<%=items[i].id%>" class="inventory-content__delete-button">Delete</a>
              <a href="/updateItem?Id=<%=items[i].id%>" class="inventory-content__update-button">Update</a>
            </div>
          </div>
        <% } %>
        
        <% if(!filter) {%>
          <div class="inventory-content__card-div">
            <img class="inventory-content__card-img" src="/<%=items[i].img_name%>">
            <div class="inventory-content__info-div">
              <p style="margin-bottom: 5px;">ID: <%= items[i].id %></p>
              <p style="margin-bottom: 5px;">Name: <%= items[i].name %></p>
              <p>Category: <%= items[i].category %> </p>
            </div>
            <div class="inventory-content__actions-div">
              <a href="/deleteItem?Id=<%=items[i].id%>" class="inventory-content__delete-button">Delete</a>
              <a href="/updateItem?Id=<%=items[i].id%>" class="inventory-content__update-button">Update</a>
            </div>
          </div>
        <% } %>

      <% } %> 

    </main>

    <!-- Page Footer -->
     <footer>

     </footer>
  </body>
</html>